.git
.github
.env
.env.*
**/*.md
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/.next
**/.swc
**/*.egg-info
.vscode
.idea
scripts/
**/tests/
**/__tests__/
*.webp
*.png
*.jpg
